<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template: pages/index.html</title>
  </head>
  <body>
    Hello, world!<br />
    {{ args.text }}<br />
    <hr />
    <a href="{{ args.link }}">{{ args.link }}</a>
    <hr />
    <ul style="list-style: none">
      {% for i in range(0, 100) %} {% if i % 15 == 0 %}
      <li>FizzBuzz</li>
      {% elif i % 3 == 0 %}
      <li>Fizz</li>
      {% elif i % 5 == 0 %}
      <li>Buzz</li>
      {% else %}
      <li>{{ i }}</li>
      {% endif %} {% endfor %}
    </ul>
  </body>
</html>
